/* ---------------------- Importation et création des couleurs et polices ------------------------- */

@import url(https://fonts.googleapis.com/css2?family=Exo&family=Montserrat);

:root {

  --bleuCY: #5988DA;
  --grisfr: #AAACB0;
  --uranian: #AAD9F9;
  --font-family-titre: "EXO";
  --font-family-texte: "Montserrat";

}
/* ################################################################################################# */
/* ---------------------- Mise en place de la structure générale des pages ------------------------- */
/* ################################################################################################# */

html, body {

  height: 100%;
  min-height: 100vh;

}

html {

  height: 100%;
  margin: 0;
  padding: 0;
  flex-direction: column;
  overflow-x: hidden;

}

html {
  background-color: var(--bleuCY);
}



body {
  
  background-color: var(--bleuCY);
  font-family: var(--font-family-texte);

  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(10px) saturate(1.7);
  min-height: 100svh;
}

body *
{
  z-index:2;
}

h1, h2, h3, h4 {

  font-family: var(--font-family-titre);

}

hr  {

  background-color: var(--uranian);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.592);
  box-sizing: border-box;
  margin-bottom: 5%;
  border-radius: 5px;
  border : none;
  height: 2px;

}

a {

  color: var(--uranian);

}

a:link, a:visited, a:hover, a:active { 

  text-decoration: none; 

} 

/* ################################################################################################# */
/* ------------------------------- Header de la page de connexion ---------------------------------- */
/* ################################################################################################# */
#logoCY{

  text-align: center;
  margin-top: 3%;
}


#logoCY img
{
  width: 45vw;
}


#titre {

  text-align: center;
  color: white;
  font-size: 250%;
  text-shadow: 3px 3px 5px #676767;
  
}

/* ################################################################################################# */
/* -------------------- Contenu principale (formulaire de connexion au site) ----------------------- */
/* ################################################################################################# */

div.contenu-centre
{

  text-align: center;
  margin-top: 20%;
  color:white;

}

.contenu-portail {

  width: 20rem;
  text-decoration: none;
  border: 0;
  background-color: transparent;
  outline: none;
  font-weight: 700;
  color: white;
  padding-left: 10px;
  font-size: 1.1rem;

}

.contenu-portail::placeholder {

  color : white;
  font: 0.9rem var(--font-family-texte);
  font-weight: 600;

}

.contenu-portail:focus {

  transition: 0.3s; 
  width: 95%;
  background-color: var(--grisfr);
  border-radius: 5px;
  opacity: 70%;

}

.portail {

  padding: 5% 30% 0%;

}

.info {

  text-align: center;
  padding: 20px 0px;

}

.bouton {

  text-align: center;
  border: var(--uranian);
  padding: 0px 5px 10px 5px;
  margin: 70px 0px 0px 0px;

}

.boutonTaille2 {

  text-align: center;
  border: var(--uranian);
  padding: 0px 5px 10px 5px;
  margin: 70px auto 0px auto;
  width: 50%;
  text-align: center;
}

#bouton-style-connexion {

  background-color: transparent;
  padding: 20px 15%;
  border-color: var(--uranian);
  background: none;
  cursor: pointer;
  border: 2px solid var(--uranian);
  border-radius: 20px;
  box-shadow: 0px 5px 5px #676767;
  box-sizing: border-box;
  color: white;
  font-weight: 500;
  font-size: larger;
  max-width: 90%; 
  width: auto;
  transition: all .5s ease;

}

#bouton-style-connexion:hover {

    color: #001F3F;
    background-color: var(--uranian);
    transform: scale(1.1);
    
}

#bouton-style-connexion:focus {

  transition: all .25s ease;
  transform: translateY(0.1rem);
  box-shadow: none;
  transform: scale(1.05);

}

#surlignage {

  color : var(--uranian);

}

/* ################################################################################################# */
/* ------------------------------- Footer de la page de connexion ---------------------------------- */
/* ################################################################################################# */


.vide {

  flex: 1;   /* Permet de "combler" les vides d'une page selon sa résolution et son format pour éviter les décalages du footer */

}




footer {

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 0px 20px;
  color : white;
  bottom: 0;
  

}

#logo {

  width: 4%;

}

#footerLogo {

  text-align: right;

}

/* ################################################################################################# */
/* --------------- Contenu exclusif à la page de réinitialisation du mot de passe ------------------ */
/* ################################################################################################# */


p#erreur
{
  text-align: center;
  color: #DB3130;
  font-weight: 700;
}

#contour-form {
  padding : 5%;
  border-radius: 20px;
  border-color: var(--uranian);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.592);
}


/* ################################################################################################# */
/* ---------------------------- Adapatation du CSS pour les smartphones ---------------------------- */
/* ################################################################################################# */

@media screen and (max-width: 1280px)
{
  #logoCY
  {
    margin-top: 100px;
  }

  #logoCY img
  {
    width: 90vw;
  }

  .portail
  {
    width: 80%;
    padding: 0px;
    margin: auto;
  }

  body
  {

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

  }
}



/* ################################################################################################# */
/* ------------------------ Style des bouttons de saisies à choix multiples ------------------------ */
/* ################################################################################################# */







/* ################################################################################################# */
/* ------------------------ Page de vérification de l'adresse e-mail (PAGE) ------------------------ */
/* ################################################################################################# */





.boite_verif_code{

  max-width: 450px;
  margin: 100px auto;
  padding: 30px;
  background: white;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);

}


.saisie_code{
  letter-spacing: 5px;
  text-align: center;
  font-weight:bold ;
  font-size: 24px;
}

.zone_saisie {

  width: 100%;
  text-decoration: none;
  border: 0;
  background-color: var(--grisfr);
  border: 1px solid #ccc;
  outline: none;
  font-weight: 400;
  color: white;
  padding-left: 10px;
  font-size: 1.1rem;
  box-sizing: border-box;
  border-radius: 5px;


}

.zone_saisie::placeholder {

  color : white;
  font: 0.9rem var(--font-family-texte);
  font-weight: 600;

}

.zone_saisie:focus {

  transition: 0.3s; 
  width: 105%;
  background-color: var(--grisfr);
  border-radius: 5px;
  border-color: var(--bleuCY);
  opacity: 1;
  box-shadow: 0 0 5px rgba(89, 136, 218, 0.5);

}


.titreVerif{
  font-family: var(--font-family-titre); color: #626872;



}

.txtVerif{

  font-family: var(--font-family-texte); font-size: 14px; color: #888;
}

/* ################################################################################################# */
/* ------------------------ Page de vérification de l'adresse e-mail (BOUTON) ---------------------- */
/* ################################################################################################# */



.bouton2 {

  display: flex ;
  justify-content: center;
  margin: 30px 0px 0px 0px;
  width: 100%;

}



.bouton_style_verif {

  background-color: var(--bleuCY);
  color: white;


  padding:  15px 40px;

  cursor: pointer;
  border: none;
  border-radius: 20px;
  
  box-shadow: 0px 5px 5px #676767;
  font-weight: 600;
  font-size: 1.2rem;

  display: inline-block;
  width: auto;
  transition: all .5s ease;
  white-space: nowrap;

}

.bouton_style_verif:hover {

    color: #001F3F;
    background-color: var(--uranian);
    transform: scale(1.1);
    
}

.bouton_style_verif:focus {

  transition: all .25s ease;
  transform: translateY(0.1rem);
  box-shadow: none;
  transform: scale(1.05);

}






























