

/* ####### CSS POUR LA PAGE D'AJOUT D'UN UTILISATEUR #######*/



:root {
  --bleuCY: #5988DA;
  --font-family-titre: "EXO";
  --font-family-texte: "Montserrat";
}




/* ##### TITRES ##### */

.titre1{
    font-family: var(--font-family-texte);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #626872;
    margin-left: 5%;
}

.titre2{
    font-family: var(--font-family-texte);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #626872;
}


/* ##### DESIGN DES BARRES ##### */


hr  {

  background-color: #c3c6cc;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.592);
  box-sizing: border-box;
  margin-bottom: 5%;
  border-radius: 5px;
  border : none;
  height: 2px;

}

#ligneHaute {

  width: 80%;
  max-width: 800px;
  margin: 0px auto 70px auto;
  border-radius: 5px;
  background-color: #699ff5;
  border: none;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  height: 5px;

}

/* ##### FORMULAIRE ##### */

.portail {
    text-align: center;
    padding: 5% 30% 0%;

}



.contenu-portail {

  width: 20rem;
  text-decoration: none;
  border: 0;
  background-color: transparent;
  outline: none;
  font-weight: 700;
  color: black;
  padding-left: 10px;
  font-size: 1.1rem;

}

.contenu-portail::placeholder {

  color : black;
  font: 0.9rem var(--font-family-texte);
  font-weight: 600;

}

.contenu-portail:focus {

  transition: 0.3s; 
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 5px;
  opacity: 70%;

}


.selection-administration {
    font: 0.9rem var(--font-family-texte);
    border-radius: 20px;
    border-color: var(--uranian);
    padding: 10px 5px;
    font-weight: 600;

}








/* ##### BOUTON DE VALIDATION #####*/

.bouton{
    float: center;
    margin-top: 50px;
    text-align: center; 
    margin-bottom: 50px;
}

.boutonAjout{

    background-color: #699ff5;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    font-family: var(--font-family-texte);
    font-weight: bold;
    cursor: pointer;
    
}


.boutonAjout:hover {


  transform: scale(1.1);
  
    
}

.boutonAjout:focus {

  transition: all .25s ease;
  transform: translateY(0.1rem);
  box-shadow: none;
  transform: scale(1.05);

}

.boutonAjout:active {

  transform: scale(0.95);

}





.boutonRetour{

    background-color: #699ff5;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    font-family: var(--font-family-texte);
    font-weight: bold;
    cursor: pointer;
    
}


.boutonRetour:hover {

    background-color: red;
    color: white;
    transform: scale(1.1);
  
    
}

.boutonRetour:focus {

  transition: all .25s ease;
  transform: translateY(0.1rem);
  box-shadow: none;
  transform: scale(1.05);

}

.boutonRetour:active {

  transform: scale(0.95);

}